{% extends "index.html" %}
{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %} FULL REGITER{% endblock %}
</head>

{% block content %}
<h1>Registre de Présence complet:</h1>
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Name</th>
        <th>Card</th>
        <th>State</th>
    </tr>
    {% for id, instance in attendance_instances_enum %}
    <tr>
        <td> {{id}} </td>
        <td> {{instance.date}} </td>
        <td> {{instance.user}} </td>
        <td> {{instance.user.card_id}} </td>
        <td> {{instance.user.get_status_display.title}} </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

</html>