{% extends 'base.html' %}
{% load static %}

<style>
    .hello_msg{
        font-size: 18px;
        color: #fff;
        margin-right: 20px;
        margin-top: 5px;
    }
</style>


{% block content %}
    <h1 class=""> A PROPOS</h1>

    <div class="row">
        <div class="col-8 ">
            <p><h2>A propos du projet</h2></p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Harum quas delectus rerum, maxime asperiores qui exercitationem 
            inventore nisi est tempora natus id obcaecati ea sequi et perspiciatis 
            laudantium. Dolor, sequi!</p>
            
        </div>
    </div>

    <div class="row row-cols-3">
        <div class="col text-center">
            <h2 class="">Hardware</h2>
            Les composants électroniques sont la carte Arduino, le lecteur RFID MFRC522 et une étiquette RFID.
            <p><img src="{% static 'mainapp/img/arduino.png' %}"
                alt="logo_arduino" width="35%" class="img-fluid">
            </p>
        </div>
        <div class="col text-center">
            <h2>Back-end</h2>
            Le côté back-end comprend le framework backend Django, codé en langage Python.
            <p><img src="{% static 'mainapp/img/django-python.png' %}"
                alt="logo_django" width="35%" class="img-fluid">
            </p>
            
        </div>
        <div class="col text-center cube-content">
            <h2>Front-end</h2>
            Les technologies front-end utilisés sont HTML/CSS, Django et le framework Bootstrap.
            <p><img src="{% static 'mainapp/img/html-css.png' %}" 
                alt="logo_html_css" width="50%" class="img-fluid">
            </p>
        </div>
    </div>

{% endblock %}
