{% extends 'base.html' %}
{% load static %}

<style>
    .hello_msg{
        font-size: 18px;
        color: #fff;
        margin-right: 20px;
        margin-top: 5px;
    }
</style>

<body class='container pt-3'>

<div class="container px-3 content">
{% block content %}
    <h1 class="text-center"> BIENVENUE !! </h1>

    <div class="row">
        <p><h2>A propos du projet:</h2></p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Harum quas delectus rerum, maxime asperiores qui exercitationem 
        inventore nisi est tempora natus id obcaecati ea sequi et perspiciatis 
        laudantium. Dolor, sequi! </p>
    </div>

    <div class="row">
        <p><h2>Outils utilisés</h2></p>
        <p><ul>
            <li> Technologie Back-end: Django </li>
            <li> Technologie Front-end: Bootstrap </li>
        </ul></p>
    </div>

    
{% endblock %}
</div>

</body>
</html>